<div id="import_upload" class="inner">
  <form class="frameworkImport forms" action="importsourcecheck" method="post" autocomplete="off">
    <div class="form-group">
      <div class="field field-file">
        <label for="file">
          {{t 'app.assetfile'}} <span class="req">*</span>
          <span class="error"></span>
        </label>
        <div class="field-help">
          {{t 'app.importframeworkinstruction'}}
        </div>
        {{#if path}}
          <div class="asset-management-new-asset-file">
            {{t 'app.importframeworkfileuploaded'}}
          </div>
        {{else}}
          <input type="file" class="asset-file" name="file">
          {{maxUploadSize}}
          <div class="progress-container">
            <div class="progress-bar">
              <div class="progress-percent">0%</div>
            </div>
          </div>
          <div class="parsed-container">

          </div>
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {{t 'app.upload'}}
      </button>
    </div>
  </form>
</div>
